In [1]:
e = {"name":"surya","age":19}
print(e);

{'name': 'surya', 'age': 19}

In [2]:
dict=dict({1:"surya"})
print(dict)

{1: 'surya'}

In [3]:
dict = {}
print(dict)

{}

In [4]:
e = {"name":"surya","age":19}
print("name:%s" %e["name"])
print("age: %d" %e["age"])

name:surya
age: 19

In [5]:
e = {"name":"surya","age":19}
e[3]="GIB"
e[4]=19
print(e)

{'name': 'surya', 'age': 19, 3: 'GIB', 4: 19}

In [6]:
e = {"name":"surya","age":18}
e[3]="jin"
print(e)
e[3]="jhope"
print(e)

{'name': 'surya', 'age': 18, 3: 'jin'}
{'name': 'surya', 'age': 18, 3: 'jhope'}

In [7]:
e['Emp_ages'] = 20, 33, 24
print(e)

{'name': 'surya', 'age': 18, 3: 'jhope', 'Emp_ages': (20, 33, 24)}

In [8]:
e = {"name":"surya","age":18}
e[3]="prajen"
print(e)
e[3]="jk"
print(e)

for i in e:
    print(i)

{'name': 'surya', 'age': 18, 3: 'prajen'}
{'name': 'surya', 'age': 18, 3: 'jk'}
name
age
3

In [9]:
dict = {'name': 'surya', 'age': 16, 3: 'taehyung'}
for i in dict.values():
  print(i)

surya
16
taehyung

In [10]:
dict = {'name': 'RM', 'age': 19, 3: 'JIMI'}
for x in dict.items():
    print(x)

('name', 'RM')
('age', 19)
(3, 'JIMI')

In [11]:
dict = {'name': 'RM', 'age': 19, 3: 'sLO'}
del dict['name']
print(dict)
del dict
print(dict)

{'age': 19, 3: 'sLO'}
<class 'dict'>

In [12]:
from IPython.core.prefilter import PrefilterTransformer
print("library management system")
booknames=dict({1:"hearts",2:"love yourself",3:"peace"})
print(booknames)
backup=booknames
print(backup)
default_dictionary=dict({0:"science",1:"arts",2:"Engineering"})
print(default_dictionary)
book_id=dict({101:15,102:30,103:50,104:56,105:67})
print(book_id[101])
print(book_id[102])
print(book_id[103])
print(book_id[104])
print(book_id[105])
print(book_id)
print("print the list of available books:")
for i in book_id.values():
    print(i)
print("print the book Ids:")
for i in book_id:
    print(i)
print("discarded book:enemy")
remove=booknames.pop(3)
print(booknames)
recentlyused_book=({12:"life",34:"life is short",56:"the little prince",76:"the book"})
book_used="the book"
print(book_used)
recentlyused_book.pop(76)
print(recentlyused_book)
missing_book="history"
recentlyused_book[1]="history"
print(recentlyused_book)
dic2=dict({1:"maths",2:"science",3:"english"})
add=recentlyused_book|dic2
print(add)
dic=dict({1:"tamil",2:"hindi",3:"english"})
copieddictionary=dic.copy()
print("copieddictionary:",copieddictionary)
print("using fromkeys()")
dic=({"tamil","english","hindi"})
items="subject"
d=dict.fromkeys(dic,items)
print(d)
recentlyused_book=({12:"life",34:"life is short",56:"the little prince",76:"the book"})
print(recentlyused_book.get(34))
print(recentlyused_book.items())
print(recentlyused_book.keys())
print(recentlyused_book.pop(76))
print(recentlyused_book.popitem())
print(recentlyused_book.values())
print(recentlyused_book.update(book_id))
print(recentlyused_book)
print(recentlyused_book.clear())

library management system
{1: 'hearts', 2: 'love yourself', 3: 'peace'}
{1: 'hearts', 2: 'love yourself', 3: 'peace'}
{0: 'science', 1: 'arts', 2: 'Engineering'}
15
30
50
56
67
{101: 15, 102: 30, 103: 50, 104: 56, 105: 67}
print the list of available books:
15
30
50
56
67
print the book Ids:
101
102
103
104
105
discarded book:enemy
{1: 'hearts', 2: 'love yourself'}
the book
{12: 'life', 34: 'life is short', 56: 'the little prince'}
{12: 'life', 34: 'life is short', 56: 'the little prince', 1: 'history'}
{12: 'life', 34: 'life is short', 56: 'the little prince', 1: 'maths', 2: 'science', 3: 'english'}
copieddictionary: {1: 'tamil', 2: 'hindi', 3: 'english'}
using fromkeys()
{'tamil': 'subject', 'english': 'subject', 'hindi': 'subject'}
life is short
dict_items([(12, 'life'), (34, 'life is short'), (56, 'the little prince'), (76, 'the book')])
dict_keys([12, 34, 56, 76])
the book
(56, 'the little prince')
dict_values(['life', 'life is short'])
None
{12: 'life', 34: 'life is short', 101: 15, 102: 30, 103: 50, 104: 56, 105: 67}
None

In [13]:
dict = dict({"name":"ssuuryaaa"})
print(dict)

{'name': 'ssuuryaaa'}

In [14]:
e={1:"apple",2:"ball",3:"cat"}
del e[1]
e.pop(2)
print(e)

{3: 'cat'}

In [15]:
employee={"name":"chen zeayung","age":39}
print(employee)
employee["name"]="xioa zhan"
print(employee)

{'name': 'chen zeayung', 'age': 39}
{'name': 'xioa zhan', 'age': 39}