In [9]:
tuple_=("python","Tuple","ordered","immutable","collection","ordered")
print('Tuple' in tuple_)
print('Items'in tuple_ )
print('immutable'not in tuple_)
print('Items' not in tuple_)

True
False
False
True

In [6]:
from typing import Tuple
Tuple_data=(0,1,2,3,4,5,6,2,4,3,1)
res=Tuple_data.index(3)
print('first occurrence of 1 is',res)
res=Tuple_data.index(3,4)
print('First occurrence of 1 after 4th index is:',res)

first occurrence of 1 is 3
First occurrence of 1 after 4th index is: 9

In [5]:
tuple_=("Python","tuple","Ordered","collection")
print("Element at -1 index:",tuple[-1])
print("Element between -4 and -1 are",tuple[-4:-1])

Element at -1 index: tuple[-1]
Element between -4 and -1 are tuple[slice(-4, -1, None)]

In [1]:
tuple_=("python","tuple","ordered","immutable","collection","object")
print("Elements between indices 1 and 3:",tuple_[1:3])
print("Element between indices 0 and -4:",tuple[:-4])
print("Entire typle:",tuple[:])

Elements between indices 1 and 3: ('tuple', 'ordered')
Element between indices 0 and -4: tuple[slice(None, -4, None)]
Entire typle: tuple[slice(None, None, None)]

In [2]:
tuple_=4,5.7,"Tuple",["python","Tuple"]
print(tuple_)
print(type(tuple_))

(4, 5.7, 'Tuple', ['python', 'Tuple'])
<class 'tuple'>

In [3]:
empty_tuple=()
print("Empty tuple :",empty_tuple)
int_tuple=(1,2,3,4,5)
print("Integer tuple :",int_tuple)
mixed_tuple=(1,"Hello",3.14,True)
print("Mixed tuple :",mixed_tuple)
nested_tuple=((1,2,3),(4,5,6),(7,8,9))
print("Nested tuple :",nested_tuple)

Empty tuple : ()
Integer tuple : (1, 2, 3, 4, 5)
Mixed tuple : (1, 'Hello', 3.14, True)
Nested tuple : ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [4]:
single_tuple=("Tuple")
print(type(single_tuple))
single_tuple=("Tuple",)
print(type(single_tuple))
single_tuple="Tuple",
print(type(single_tuple))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [7]:
T1=(0,1,2,3,4,5,6,2,4,3,1)
T2=('python','java','python','tpoint','java')
res=T1.count(2)
print('count of java in T1 is : ',res)
res=T2.count('java')
print('count of java in T2 is : ',res)

count of java in T1 is :  2
count of java in T2 is :  2

In [8]:
tuple_=("python","tuple","ordered","immutable")
print(tuple_+(4,5,6))

('python', 'tuple', 'ordered', 'immutable', 4, 5, 6)